<br />
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :location %>
    <%= f.text_field :location, placeholder: "" %></div>

  <div class="level-box">

    <%= f.label "Skill Level?" %><br />

    <div class="level"><%= f.radio_button(:level, 1)  %><br />
    <%= f.label(:level_1, '< 6 months') %></div>  

    <div class="level"><%= f.radio_button(:level, 2)  %><br />
    <%= f.label(:level_2, '6 months - 1 year') %></div>  

    <div class="level"><%= f.radio_button(:level, 3)  %><br />
    <%= f.label(:level_3, '> 1 year') %></div>

  </div>

  <div><%= f.check_box(:mentor)  %>
  <%= f.label(:mentor, 'Mentor new players?') %></div>  

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>

<% end %>



