<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

	<div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :location %><br />
    <%= f.text_field :location %></div>

  <h4 class="level-label">Skill Level?</h4>

  <div class="level"><%= f.radio_button(:level, 1)  %><br />
  <%= f.label(:level_1, 'Noob') %></div>  

  <div class="level"><%= f.radio_button(:level, 2)  %><br />
  <%= f.label(:level_2, 'Novice') %></div>  

  <div class="level"><%= f.radio_button(:level, 3)  %><br />
  <%= f.label(:level_3, 'Pro') %></div>

	<div><%= f.check_box(:mentor)  %>
  <%= f.label(:mentor, 'Mentor new players?') %></div>  

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm Password" %><br />
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.submit "Sign up", class: "button" %></div>

	<%= render "devise/shared/links" %>
<% end %>

<body onload="initializeAutoComplete()">
