<!DOCTYPE html>
<html>
<head>
  <title>MeetMagic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
</head>
<body>

		<div class="nav">
			<ul class="nav-bar">
				<% if  current_user %> 	

					<li> Hello, <%= current_user.name  %></li>
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
					<li><%= link_to "Edit Info", edit_user_registration_path  %></li>
					<li><%= link_to "Map", map_path  %></li>
					<li class="search">
						<%= form_for :user, url: '/users_by_location', method: 'get', html: {class: 'search-box'} do |f| %>
							<%= f.text_field :location, id: 'user_location', placeholder: "Search a location" %>
							<%= f.submit("Search") %>
						<% end %>
					</li>
				<% else %>
			  	<li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up"%></li>
			  	<li><%= link_to "Log In", new_user_session_path, id: "log-in"  %></li>				
				<% end %>
				<li class="title"><%= link_to "Meet Magic", root_path%></li>
		  </ul>
		</div>

	<div class="wrapper">
	
		<p class="alert"><%= alert %></p>
		<p class="notice"><%= notice %></p>

		<%= yield %>
	</div>

</body>
</html>
